@mixin text-small {
  font-size: 12px;
  line-height: 18px;
}

@mixin text-medium {
  font-size: 13px;
  line-height: 19px;
}

@mixin text-large {
  font-size: 14px;
  line-height: 21px;
}

@mixin text-xlarge {
  font-size: 18px;
  line-height: 27px;
}
