$unit-base: 8;
// ^ All sizings will be multiples of base

$white: #ffffff;

$blue: #001B59;
$blue90: #01257D;
$blue80: #06309E;
$blue70: #0839B5;
$blue60: #0B45D2;
$blue50: #205EEB;
$blue40: #477BF3;
$blue30: #7DA2FA;
$blue20: #BACFFF;
$blue10: #E6EEFF;

$teal: #004440;
$teal90: #016457;
$teal80: #048271;
$teal70: #079A82;
$teal60: #17B897;
$teal50: #2DCCA7;
$teal40: #5FE3C0;
$teal30: #8EEDD1;
$teal20: #C6F7E9;
$teal10: #F0FCF9;

$grey: #1F2933;
$grey90: #323F4B;
$grey80: #3E4C59;
$grey70: #52606D;
$grey60: #616E7C;
$grey50: #7B8794;
$grey40: #9AA5B1;
$grey30: #CBD2D9;
$grey20: #E4E7EB;
$grey10: #F5F7FA;

$red: #610404;
$red90: #780A0A;
$red80: #911111;
$red70: #A61B1B;
$red60: #BA2525;
$red50: #D64545;
$red40: #E66A6A;
$red30: #F29B9B;
$red20: #FACDCD;
$red10: #FFEEEE;

$yellow: #8D2B0B;
$yellow90: #B44D12;
$yellow80: #CB6E17;
$yellow70: #DE911D;
$yellow60: #F0B429;
$yellow50: #F7C948;
$yellow40: #FADB5F;
$yellow30: #FCE588;
$yellow20: #FFF3C4;
$yellow10: #FFFBEA;
